body {
   font-family: Nunito, sans-serif; 
   margin-left: 5em;}

h1{font-family: Montserrat; 
   color:#00008b; 
   font-size: 130%;}

h2{
   color:#8b0000; 
   font-weight: 100; 
   font-size: 110%;}

h4 {
   font-family: Montserrat; 
   color:#154360;
   text-decoration: underline;
   font-size: 115%;
}
p {margin-bottom: 0.5px;}

.bot {
   font-size: 50%;
   padding: 0;
   background-color:yellowgreen; 
   color:#A4C1FF; 
   border:0px; 
   width:15px; 
   height:15px; 
   -webkit-border-radius: 25px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}
summary {
   font-size: 2em;
   font-weight: bold;
   color: deeppink;
   border-bottom: 1px solid lightgray;
}
details {
   font-size: 0.75em;
   color:#154360;
   background-color:#eee;
   padding: 1em;
   margin-right: 5em;
   border: 1px solid lightgrey;
}
#enunciado {
   background-color: #eee; 
   border-color: #000; 
   padding: 2px 20px 20px 20px; 
   margin-right: 20em; 
   font-size: 85%; 
   color:#00008b; 
   display:block;}

.ejercicio {margin-left: 2em;}

em {
   font-family: Georgia, 'Times New Roman', Times, serif; 
   color: rgb(5, 5, 182);
}

code {
   font-size: 140%; 
   color: blueviolet;
}

ol.letras {
   list-style-type: lower-latin;
}

input[type=number] {
   width: 4em;
   text-align: center;
   background-color: #EBF5FB;
}
input[type=text] {
   background-color: rgb(245, 232, 234);
   padding-left: 5px;
}

.btn {
   width:80px;
   height:60px;
   font-size: 120%;
}

.eq {
   width:164px;

}
.bn{
   background:#638cb5;   
}
.bo{
   background:yellow;   
}
.bpto{
   background:#87bcf1;   
}
.caja {
   display: inline-block;
   width:75px;
   height:40px;
   font-size: 115%;
   text-align: center;   
}
.bordea{
   border: #000 solid 1px;
   padding: 0.5em;
}

label {
   display: inline-block;
   width: 15em;
}

.label1 {
   margin-left: 2em;
   width: 4em;
}

table {
   width: 90%;
   background-color: white;
   border-collapse: collapse;
   margin-left: 3em;
}

table, th, td {
   text-align: center;
   border: 1px solid lightgrey;
}

button {
   width: 15em; 
   height: 2em;
   background-color: white;
   border: #00008b 1px solid;
   color: #00008b;
}
 hr {
   border: deeppink 1px solid;
 }